# Environment & secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
 
# Django
db.sqlite3
staticfiles/
media/

# Virtual environments
venv/
env/
.venv/
.env/

# IDE
.idea/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
